ul {
  padding: 0px;
  margin: 0px;
}

label {
  margin-right: 20px;
}

.input-country {
  display: flex;
  justify-content: center;
}

.js-card-container {
  text-align: center;
}

.card__desc {
  margin-right: 30px;
  text-align: left;
}

.card__content {
  display: flex;
  justify-content: center;
}

.card__name {
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: large;
}

img {
  display: block;
  max-width: 300px;
  height: auto;
}
